
.blog-teaser header h3 .hover_href:hover {
  color: #ff6868;
}

.hover_href:hover {
  color: #ff6868;
}

.clean-list li a:hover {
  color: #ff8383;
}

aside.comments .comment .comment_body {
    margin-top: 5px;
}

.comment .meta {
    margin-bottom: 10px;
}

.masthead .navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}

.jumppad {
    padding-top: 10px;
    padding-bottom: 30px;
}

#logo {
    margin-top: 10px;
}

#logo
{
position:relative;
animation:spiderRun 25s;
-moz-animation:spiderRun 25s; /* Firefox */
-webkit-animation:spiderRun 25s; /* Safari and Chrome */
-o-animation:spiderRun 25s; /* Opera */
}

@keyframes spiderRun
{
0%   {left:0px; top:0px;}
100%  {left:500px; top:0px;}
}

@-moz-keyframes spiderRun /* Firefox */
{
0%   {left:0px; top:0px;}
100%  {left:500px; top:0px;}
}

@-webkit-keyframes spiderRun /* Safari and Chrome */
{
0%   {left:0px; top:0px;}
100%  {left:500px; top:0px;}
}

@-o-keyframes spiderRun /* Opera */
{
0%   {left:0px; top:0px;}
100%  {left:500px; top:0px;}
}

@media (max-width: 767px) {
  /*donghua*/
  #logo
  {
  position:relative;
  animation:none;
  -moz-animation:none; /* Firefox */
  -webkit-animation:none; /* Safari and Chrome */
  -o-animation:none; /* Opera */
  }

  #logo {
  display: none;
  }
}

div form .searchBoder {
    background-color: #f2f2f2;
}

.searchboxLocation {
    float: left;
}

.searchResult {
    margin-top: 30px;
}

.searchResultHighLight {
    color: red;
}

.searchTitleColor {
    color: #0b15cc;
}

.serachResultCheckAll {
    float: right;
}

.serachResultCheckAll:hover {
    color: red;
}

.searchContentDistance {
    margin-bottom: 30px;
}

.searchResultPage {
    margin: 50px 0px 50px 0px;
}

.pageHover:hover {
    color: red;
}

.writeCommentUser {
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
}

.commentGuestLogin {
    color: #00a0e9;
    text-decoration: underline;
}

.contrainerHeight {
    height: 97.6px;
}

a .tag_class{
    color: #00a0e9;
}

a .tag_class:hover{
    color: red;
}

.paging .more_red:hover{
    color: red;
}