
.blog-teaser header h3 .hover_href:hover {
  color: #ff6868;
}

.hover_href:hover {
  color: #ff6868;
}

.clean-list li a:hover {
  color: #ff8383;
}

aside.comments .comment .comment_body {
    margin-top: 5px;
}

.comment .meta {
    margin-bottom: 10px;
}

.masthead .navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}

.jumppad {
    padding-top: 0px;
    padding-bottom: 15px;
}

#logo {
    margin-top: 0px;
}

div form .searchBoder {
    background-color: #f2f2f2;
}

.searchboxLocation {
    float: left;
}

.searchResult {
    margin-top: 30px;
}

.searchResultHighLight {
    color: red;
}

.searchTitleColor {
    color: #0b15cc;
}

.serachResultCheckAll {
    float: right;
}

.serachResultCheckAll:hover {
    color: red;
}

.searchContentDistance {
    margin-bottom: 30px;
}

.searchResultPage {
    margin: 50px 0px 50px 0px;
}

.pageHover:hover {
    color: red;
}

.writeCommentUser {
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
}

.commentGuestLogin {
    color: #00a0e9;
    text-decoration: underline;
}

.contrainerHeight {
    height: 97.6px;
}

a .tag_class{
    color: #00a0e9;
}

a .tag_class:hover{
    color: red;
}

.paging .more_red:hover{
    color: red;
}

.article_top_side {
    height: 0px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    color: red;
}

#user_name_style{
    color: red;
}

#user_name_style:hover{
    color: #00a0e9;
}

.navbar-default .navbar-nav>li>a {
    color: #444;
}

.indexTitle {
    padding-top: 20px;
}

#example-navbar-collapse .nav_pc_size li a {
    font-size: 19px;
}

@media(max-width: 767px) {
    /*.core_logo {*/
        /*display: none;*/
    /*}*/

    .jumppad {
        padding-top: 0px;
        padding-bottom: 0px;
        height: 55px;
    }

    .logo_img {
        width: 110px;
    }

    .clean-nav .nav-pills > li {
        margin-left: -28px;
    }

    .container {
        padding-right: 0px;
        padding-left: 0px;
    }
}

.login_or_out {
    float: right;
    margin-bottom: 0px;
    font-size: 12px;
}

.login_btn {
    padding: 3px 10px;
    font-size: 12px;
}

.navbar-toggle {
    margin-right: 0px;
}

.navbar-collapse {
    padding-right: 0px;
}

.blog-teaser {
  margin-bottom: 25px;
}

hr {
    margin-top: 5px;
    margin-bottom: 10px;
}

.blog-teaser .btn {
  float: right;
  margin-right: 25px;
  margin-bottom: 8px;
}

.blog-post .body .meta {
    margin-bottom: 10px;
}

.widewrapper.subheader {
  min-height: 30px;
}

.clean-breadcrumb {
  margin-top: 8px;
}

.clean-searchbox {
  margin-bottom: 8px;
  margin-top: 8px;
}

.am-form-group {
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 15px;
    position: relative;
}

.am-form-group div {
    margin-right: 30px;
    display: inline;
}

.am-form-content {
    position: absolute;
    left: 100px;
}

.am-form-content input {
    width: 500px;
}

.am-radio-inline input {
    width: 30px;
}

.detail_title {
    font-family: 'PingFang SC','Microsoft YaHei',SimHei,Arial,SimSun;
    max-width: 100%;
    height: auto;
    display: block;
    font-size: 26px;
    text-align: center;
    margin-top: 5px;
}

.detail_content {

}

.detail_content img {
    max-width: 100%;
    height: auto;
    display: block;
}

.detail_content code {
    max-width: 100%;
    height: auto;
    display: block;
    word-wrap: break-word;//自动换行
    word-break: break-all;//英文单词断行
}

.detail_content p {
    max-width: 100%;
    height: auto;
    display: block;
    word-wrap: break-word;//自动换行
    word-break: break-all;//英文单词断行
}

.list_title {
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    color: black;
}

.blog-main {
  padding-top: 1px;
  padding-bottom: 20px;
}

.meta {
    text-align: center;
}

.index_main {
    margin-top: 35px;
}

.clean-searchbox {
   min-width: 0px;
    margin-right: 8px;
}

.clean-breadcrumb {
    margin-left: 8px;
}

footer .row {
    padding-left: 8px;
}

.indexTitle {
    font-weight: bold;
}