
.blog-teaser header h3 .hover_href:hover {
  color: #ff6868;
}

.hover_href:hover {
  color: #ff6868;
}

.clean-list li a:hover {
  color: #ff8383;
}

aside.comments .comment .comment_body {
    margin-top: 5px;
}

.comment .meta {
    margin-bottom: 10px;
}