{% extends 'base.html' %}
{% load highlight highlightCoverHead %}

{% block content %}
    <div class="col-md-8">

        <div class="searchResult">
            {% if query %}

                <h3><span class="searchResultHighLight">{{ query }}</span> 的搜索结果</h3>
                <HR align=left width=700 color=black SIZE=1>

                {% for result in page.object_list %}
                    <p class="searchContentDistance">
                        <h3>
                            <a class="searchTitleColor" href="{% url result.object.get_obsolute_url result.object.id %}">
                                {% highlight_cover_head result.object.title with query max_length 200 start_head True %}
                            </a>
                        </h3>
                        <p>作者：{% highlight result.object.author with query %}</p>
                        <p>{% highlight result.object.content with query %}</p>
                        <!--<a class="serachResultCheckAll" href="{{ result.object.get_absolute_url }}"><i>查看全部</i></a>-->
                    </p>
                {% empty %}
                    <p>没有相关记录</p>
                {% endfor %}

                {% if page.has_previous or page.has_next %}
                    <div class="searchResultPage">
                        {% if page.has_previous %}<a class="pageHover" href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; 上一页{% if page.has_previous %}</a>{% endif %}
                        |
                        {% if page.has_next %}<a class="pageHover" href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}下一页 &raquo;{% if page.has_next %}</a>{% endif %}
                    </div>
                {% endif %}
            {% else %}
                <h3>没有搜索结果</h3>
                <HR align=left width=700 color=black SIZE=1>
                <p>输入关键词试试？</p>
            {% endif %}
        </div>

    </div>
{% endblock %}