{% load staticfiles aside_func cache %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    {% block headtitle %}
        <title>码练</title>
    {% endblock headtitle %}

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut  icon" href="{% static 'img/f_icon.ico' %}" type="image/x-icon" />

    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Font-Awesome -->
    <link rel="stylesheet" href="{% static 'css/font-awesome/css/font-awesome.min.css' %}">

    <!-- Google Webfonts -->
    <link rel='stylesheet' type='text/css' href="{% static 'css/font-awesome/css/font-awesome.min.css' %}">

    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" id="theme-styles">

    <!--[if lt IE 9]>
        <script src="js/vendor/google/html5-3.6-respond-1.1.0.min.js"></script>
    <![endif]-->

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/modernizr.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/extend.css' %}">
    <link rel="stylesheet" href="{% static 'css/githubStyle.css' %}">

    <style>
        span.highlighted {
            color: red;
        }
    </style>

{% block morehead %}
{% endblock morehead %}

</head>

<body>


    <header>
         <div style="margin: 5px 5px 2px 5px; width: 1470px; height: 40px;">
            {% if user.is_authenticated %}
              <p style="float: right;">
                你已登录：<a href="{% url 'account:profile' %}" id="user_name_style">{{ user.username }}</a>
                <a href="{% url 'logout' %}?next={{ request.path }}"><button class="btn btn-default">注销登录</button></a>
                <a href="{% url 'password_change' %}?next={{ request.path }}"><button class="btn btn-default">修改密码</button></a>
              </p>
            {% else %}
              <p style="float: right;">
                <a href="{% url 'login' %}?next={{ request.path }}"><button class="btn btn-default">登录</button></a>
                <input type="hidden" name="next" value="{{ next }}"/>
                <a href="{% url 'account:register' %}"><button class="btn btn-default">注册</button></a>
              </p>
            {% endif %}
        </div>

        <div class="widewrapper masthead jumppad">
            <div class="container contrainerHeight">
                <a href="/" id="logo">
                    <h1 style="display: none;">码练</h1>
                    <h1 style="display: none;">traincode.com</h1>
                    <img src="{% static 'img/logo2.png' %}" alt="clean Blog">
                </a>

                <div id="mobile-nav-toggle" class="pull-right">
                    <a href="#" data-toggle="collapse" data-target=".clean-nav .navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>

                <nav class="pull-right clean-nav navbar navbar-default" role="navigation">
                    <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target="#example-navbar-collapse">
                            <span class="sr-only">切换导航</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        {#title#}
                        <a class="navbar-brand" href="#"></a>
                    </div>
                    <div class="collapse navbar-collapse" id="example-navbar-collapse">
                        <ul class="nav nav-pills navbar-nav nav_pc_size">

                            <li><a href="/">主页</a></li>
                            <li><a href="/article/all">文章</a></li>
                            <li><a href="/api_model">API</a></li>
                            <li><a href="#aboutMe">关于本站</a></li>

                            {% if user.is_authenticated %}
                                {% if user.is_staff %}
                                    <li><a href="/silk" target="_blank">Silk</a></li>
                                {% endif %}
                            {% endif %}

                        </ul>
                    </div>
                    </div>
                </nav>

            </div>
        </div>

        <div class="widewrapper subheader">
            <div class="container">
                <div class="clean-breadcrumb">
                    <a href="http://fontawesome.io/icons/" title="获取这组图标" target="_blank"><i class="fa fa-user"></i></a>  分享工作、生活和学习的点滴。
                </div>


                <div class="clean-searchbox">
                    <form action="/search/" method="get" accept-charset="utf-8">
                        {% if query %}
                            <input class="searchfield" id="searchbox" type="text" placeholder="Search" name="q" value="{{ query }}">
                        {% else %}
                            <input class="searchfield" id="searchbox" type="text" placeholder="Search" name="q">
                        {% endif %}
                        <button class="searchbutton" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>

            </div>
        </div>
    </header>


<div class="widewrapper main">
    <div class="container">
        <div class="row">
            {% block content %}

            {% endblock content %}


            {% block aside %}

{#                {% cache 500 aside_tag %}#}

                    {% aside_tag %}

{#                {% endcache %}#}

            {% endblock aside %}
        </div>
    </div>
</div>

{% block footer %}
    <footer>
        <div class="widewrapper footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 footer-widget">
                        <h3 id="aboutMe"> <i class="fa fa-user"></i>关于我</h3>

                       <p>博主为一名半路转行python开发的90后，目前主要从事web/爬虫开发。</p>
                       <p>平时学习和使用Django的过程中搭建了本站，并开始维护。</p>
                       <p>对新知识永远怀有最大的热情~</p>
                       <p>欢迎一起交流开发经验和心得。</p>
                    </div>

                    <div class="col-md-4 footer-widget">
                        <h3> <i class="fa fa-pencil"></i> 项目交流</h3>
                        <ul class="clean-list">
                            <li><a href="https://github.com/nickliqian/NickBlog">本站博客源码</a></li>
                            <li><a href="https://github.com/nickliqian/Ralph_ChineseDocs">优秀开源CMDB系统中文文档</a></li>
                            <li><a href="https://github.com/nickliqian/lagou_job">拉勾网爬虫</a></li>
                        </ul>
                    </div>

                    <div class="col-md-4 footer-widget">
                        <h3> <i class="fa fa-envelope"></i>联系站长</h3>

                        <p>如需联系站长，可发邮件至以下邮箱</p>
                        <p>nickliqian@outlook.com</p>
                        <p><a href="https://github.com/nickliqian" style="color: cornflowerblue;">GitHub: nickliqian</a></p>
                         <div class="footer-widget-icon">
                            <i class="fa fa-facebook"></i><i class="fa fa-twitter"></i><i class="fa fa-google"></i>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="widewrapper copyright">
                Copyright 2017 -- <span>E-mail: <span>nickliqian@outlook.com</span></span>
        </div>
    </footer>
{% endblock footer %}



</body>
</html>