{% load staticfiles aside_func cache %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    {% block headtitle %}
        <title>首页</title>
    {% endblock headtitle %}

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut  icon" href="{% static 'img/f_icon.ico' %}" type="image/x-icon" />

    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Font-Awesome -->
    <link rel="stylesheet" href="{% static 'css/font-awesome/css/font-awesome.min.css' %}">

    <!-- Google Webfonts -->
    <link rel='stylesheet' type='text/css' href="{% static 'css/font-awesome/css/font-awesome.min.css' %}">

    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" id="theme-styles">

    <!--[if lt IE 9]>
        <script src="js/vendor/google/html5-3.6-respond-1.1.0.min.js"></script>
    <![endif]-->

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/modernizr.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/extend.css' %}" id="theme-styles">

    <style>
        span.highlighted {
            color: red;
        }
    </style>

{% block morehead %}
{% endblock morehead %}

</head>
<body>
        {#   登陆提示     #}
        {% if user.is_authenticated %}
          <p>你已登录，欢迎你：<a href="#">{{ user.username }}</a></p>
          <button class="btn btn-default"><a href="{% url 'logout' %}?next={{ request.path }}">注销登录</a></button>
          <button class="btn btn-default"><a href="{% url 'password_change' %}?next={{ request.path }}">修改密码</a></button>
        {% else %}
          <p>你还没有登录，请
            <button class="btn btn-default"><a href="{% url 'login' %}?next={{ request.path }}">登录</a></button>
              <input type="hidden" name="next" value="{{ next }}"/>
            或者
            <button class="btn btn-default"><a href="{% url 'account:register' %}">注册</a></button>
          </p>
        {% endif %}

    <header>
        <div class="widewrapper masthead jumppad">
            <div class="container">
                <a href="/" id="logo">
                    <img src="{% static 'img/ladybug.png' %}" alt="clean Blog">
                </a>

                <div id="mobile-nav-toggle" class="pull-right">
                    <a href="#" data-toggle="collapse" data-target=".clean-nav .navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>

                <nav class="pull-right clean-nav navbar navbar-default" role="navigation">
                    <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target="#example-navbar-collapse">
                            <span class="sr-only">切换导航</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        {#title#}
                        <a class="navbar-brand" href="#"></a>
                    </div>
                    <div class="collapse navbar-collapse" id="example-navbar-collapse">
                        <ul class="nav nav-pills navbar-nav">

                            <li><a href="/">主页</a></li>
                            <li><a href="/article/all">文章</a></li>
                            <li><a href="#">API</a></li>
                            <li><a href="#">关于</a></li>
                            <li><a href="#">联系站长</a></li>
                            <li><a href="/silk" target="_blank">Silk</a></li>

                        </ul>
                    </div>
                    </div>
                </nav>

            </div>
        </div>

        <div class="widewrapper subheader">
            <div class="container">
                <div class="clean-breadcrumb">
                    <a href="http://fontawesome.io/icons/" title="获取这组图标" target="_blank"><i class="fa fa-user"></i></a>  分享工作、生活和学习的点滴。
                </div>


                <div class="clean-searchbox">
                    <form action="/search/" method="get" accept-charset="utf-8">
                        {% if query %}
                            <input class="searchfield" id="searchbox" type="text" placeholder="Search" name="q" value="{{ query }}">
                        {% else %}
                            <input class="searchfield" id="searchbox" type="text" placeholder="Search" name="q">
                        {% endif %}
                        <button class="searchbutton" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>

            </div>
        </div>
    </header>


<div class="widewrapper main">
    <div class="container">
        <div class="row">
            {% block content %}

            {% endblock content %}


            {% block aside %}

{#                {% cache 500 aside_tag %}#}

                    {% aside_tag %}

{#                {% endcache %}#}

            {% endblock aside %}
        </div>
    </div>
</div>

    {% block footer %}
    <footer>
        <div class="widewrapper footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 footer-widget">
                        <h3> <i class="fa fa-user"></i>About</h3>

                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi laboriosam nostrum consequatur fugiat at, labore praesentium modi, quasi dolorum debitis reiciendis facilis, dolor saepe sint nemo, earum molestias quas.</p>
                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, error aspernatur assumenda quae eveniet.</p>
                    </div>

                    <div class="col-md-4 footer-widget">
                        <h3> <i class="fa fa-pencil"></i> Recent Post</h3>
                        <ul class="clean-list">
                            <li><a href="">Clean - Responsive HTML5 Template</a></li>
                            <li><a href="">Responsive Pricing Table</a></li>
                            <li><a href="">Yellow HTML5 Template</a></li>
                            <li><a href="">Blackor Responsive Theme</a></li>
                            <li><a href="">Portfolio Bootstrap Template</a></li>
                            <li><a href="">Clean Slider Template</a></li>
                        </ul>
                    </div>

                    <div class="col-md-4 footer-widget">
                        <h3> <i class="fa fa-envelope"></i>Contact Me</h3>

                        <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil fugiat, cupiditate veritatis excepturi tempore explicabo.</p>
                         <div class="footer-widget-icon">
                            <i class="fa fa-facebook"></i><i class="fa fa-twitter"></i><i class="fa fa-google"></i>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="widewrapper copyright">
                Copyright 2017 -- <span>E-mail: <span>nickliqian@outlook.com</span></span>
        </div>
    </footer>
{% endblock footer %}



</body>
</html>