{% extends "base.html" %}
{% load staticfiles %}

{% block headtitle %}
    <title>{{ object.title }}</title>
{% endblock headtitle %}

{% block morehead %}
<script>

    function checkBlank() {
        var a = document.getElementById('comment-name').value.length;
        var b = document.getElementById('comment-body').value.length;

        if (a <= 0 || b<=0) {
            alert('姓名或内容不能为空');
            return false;
        } else if (a >30 || b > 500) {
            alert('姓名或内容长度超过限制：姓名<30长度，内容<500长度');
            return false;
        }

    }
</script>
{% endblock morehead %}

{% block content %}

                <div class="col-md-8 blog-main">
                    <article class="blog-post">
                        <header>

                            <div class="lead-image">

                                <img src="{{ object.cover_img.url }}" alt="" class="img-responsive">

                            </div>
                        </header>
                        <div class="body">
                            <h1><b>{{ object.title }}</b></h1>
                            <div class="meta">
                                <i class="fa fa-user"></i> {{ object.author }}
                                <i class="fa fa-calendar"></i> {{ object.created|date:"Y/m/j H:i" }}
                                <i class="fa fa-eye"></i> {{ object.view_count }}
                                <i class="fa fa-comments"></i>
                                    <span class="data">
                                        <a href="#comments">{{ comment_count }} Comments</a>
                                    </span>

                                <div>
                                <i class="fa fa-tags"></i>
                                    {% for tag in object.article_tag.all %}
                                        <a href="{% url 'article:article-tag' tag.tag_name %}"><span class="tag_class">{{ tag.tag_name }}&nbsp;&nbsp;</span></a>
                                    {% endfor %}
                                </div>
                            </div>


                            <div>
                            {{ object.content|safe }}
                            </div>
                        </div>
                    </article>

                    <!--分享-->
                    <!--<aside class="social-icons clearfix">-->
                        <!--<h3>Share on </h3>-->
                        <!--<a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-google"></i></a>-->
                    <!--</aside>-->

                    <!--评论-->
                    <aside class="comments" id="comments">
                        <hr>

                        <h2><i class="fa fa-comments"></i> {{ comment_count }} 评论</h2>

                        {% for comment in article_comment %}
                        <article class="comment">
                            <header class="clearfix comment_header">
                                <img src="{% static 'img/avatar.png' %}" alt="UserImg" class="avatar">
                                <div class="meta">
                                    <h3><a href="#">{{ comment.userOfComment.username }}</a></h3>
                                    <span class="date">
                                        {{ comment.created }}
                                    </span>
                                    <span class="separator">
                                        -
                                    </span>

                                    <a href="#create-comment" class="reply-link">回复</a>
                                </div>
                            </header>
                             <div class="body comment_body">
                                {{ comment.content|safe }}
                            </div>
                        </article>
                        {% endfor %}
                    </aside>

                    <!--表单-->
                    <aside class="create-comment" id="create-comment">
                        <hr>

                        <h2><i class="fa fa-pencil"></i> 添加评论</h2>

                        {% if user.is_authenticated %}
                            <form action="{% url 'article:redirect-detail' object.id %}" method="post" accept-charset="utf-8">
                                {% csrf_token %}
                                <div class="row"><span class="writeCommentUser">用户 {{ user.username }}：</span></div>

                                <input type="text" name="article" id="comment-url" value="{{ object.id }}" style="display: none;">
                                <input type="text" name="userOfComment" id="comment-url" value="{{ user.id }}" style="display: none;">

                                <textarea rows="5" name="content" id="comment-body" placeholder="输入评论" class="form-control input-lg"></textarea>

                                <div class="buttons clearfix">
                                    <button type="submit" class="btn btn-xlarge btn-clean-one" onClick="javascript:return checkBlank();">提交评论</button>
                               </div>



                            </form>
                        {% else %}
                            <form action="" method="" accept-charset="utf-8">
                                <div class="row"><span class="writeCommentUser">游客，<a href="/account/login/?next={{ request.path }}" class="commentGuestLogin">请登陆</a></span></div>
                                <textarea rows="5" name="content" id="comment-body" placeholder="输入评论" class="form-control input-lg" disabled="disabled"></textarea>
                                <div class="buttons clearfix">
                                    <button type="submit" class="btn btn-xlarge btn-clean-one" onClick="javascript:return false;" disabled="disabled">请登陆后评论</button>
                               </div>
                            </form>
                        {% endif %}

        </aside>


        </div>


{% endblock content %}