{% extends "base.html" %}
{% load staticfiles %}

{% block headtitle %}
    <title>码练-首页</title>
{% endblock headtitle %}

{% block morehead %}
{% endblock morehead %}

{% block content %}

                <div class="col-md-8 blog-main">

                  {% for objs in objss %}
                    <div class="row">
                        {% for obj in objs %}
                        <div class="col-md-12 col-sm-12">
                            <article class=" blog-teaser">
                                <header>
                                    <!--{% if obj.cover_img %}-->
                                    <!--<img src="{{ obj.cover_img.url }}" alt="">-->
                                    <!--{% endif %}-->
                                    <h3 class="indexTitle"><a href="{% url 'article:article-detail' obj.id %}" class="hover_href">{{ obj.title }}</a></h3>
                                    <span>作者：{{ obj.author }}</span>
                                    <span class="meta"> &nbsp;&nbsp;{{ obj.created|date:"Y/m/j H:i" }}</span>
                                    <hr>
                                </header>
                                <div class="body">
                                    <a href="{% url 'article:article-detail' obj.id %}" class="hover_href">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ obj.short_note }}
                                    </a>
                                </div>
                                <div class="clearfix">
                                    <a href="{% url 'article:article-detail' obj.id %}" class="btn btn-clean-one">Read more</a>
                                </div>
                            </article>
                        </div>
                        {% endfor %}
                    </div>
                  {% endfor %}

                    <div class="paging">
                        <a href="{% url 'article:article-list' %}" class="older more_red"><i>More</i></a>
                    </div>
                </div>


{% endblock content %}
