{% extends "base.html" %}
{% load staticfiles %}

{% block headtitle %}
    <title>首页</title>
{% endblock headtitle %}

{% block morehead %}
{% endblock morehead %}

{% block content %}

                <div class="col-md-8 blog-main">

                  {% for objs in objss %}
                    <div class="row">
                        {% for obj in objs %}
                        <div class="col-md-6 col-sm-6">
                            <article class=" blog-teaser">
                                <header>
                                    <img src="/static/media/{{ obj.cover_img }}" alt="">
                                    <h3><a href="{% url 'article:article-detail' obj.id %}" class="hover_href">{{ obj.title }}</a></h3>
                                    <span class="meta">{{ obj.created|date:"Y/m/j H:i" }}</span>
                                    <hr>
                                </header>
                                <div class="body">
                                    {{ obj.short_note }}
                                </div>
                                <div class="clearfix">
                                    <a href="{% url 'article:article-detail' obj.id %}" class="btn btn-clean-one">Read more</a>
                                </div>
                            </article>
                        </div>
                        {% endfor %}
                    </div>
                  {% endfor %}

                    <div class="paging">
                        <a href="{% url 'article:article-list' %}" class="older"><i>More</i></a>
                    </div>
                </div>


{% endblock content %}
