{% extends "base.html" %}
{% load staticfiles pagination_tags %}

{% block headtitle %}
    <title>所有文章</title>
{% endblock headtitle %}

{% block morehead %}
{% endblock morehead %}

{% block content %}
                {% autopaginate object_list 5 as object_list_list %}

                <div class="col-md-8 blog-main">

                    {% for object in object_list_list %}

                    <article class="blog-post">

                        <div class="body">
                            <a href="{% url 'article:article-detail' object.id %}" class="hover_href"><h2><b>{{ object.title|escape }}</b></h2></a>

                            <div class="meta">
                                <i class="fa fa-user"></i> {{ object.author }}
                                <i class="fa fa-calendar"></i> {{ object.created|date:"Y/m/j H:i" }}
                                <i class="fa fa-eye"></i> {{ object.view_count }}
                                <i class="fa fa-comments"></i>
                                    <span class="data">
                                        <a href="#comments">{{ object.get_comment_count }} Comments</a>
                                    </span>
                                <div>
                                    <i class="fa fa-tags"></i>
                                        {% for tag in object.article_tag.all %}
                                            <a href="{% url 'article:article-tag' tag.tag_name %}"><span class="tag_class">{{ tag.tag_name }}&nbsp;&nbsp;</span></a>
                                        {% endfor %}
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-4">
                                    <div class="lead-image">

                                        <img src="{{ object.cover_img.url }}" alt="" class="img-responsive">

                                    </div>
                                </div>

                                <div class="col-md-8">
                                    <div>
                                    {{ object.short_note|safe }}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </article>
                    <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="100%" color=#987cb9 SIZE=3>
                    {% endfor %}

                    <div>

                        {% paginate using 'pagination\article\pagination.html' %}
                    </div>

                </div>

{% endblock content %}